{% extends 'base.html' %} {% load static %} {% load blog_tags %} {% block content-body %} {% if error_msg %}
<p>{{ error_msg }}</p>
{% endif %}

<div class="content-body">
    <div class="container">
        <div class="row">
            <!--左边主体-->
            {% block main %}
            <main class="col-md-9">
                {% for post in post_list %}
                <article class="post post-{{ post.pk }}">
                    <header class="entry-header">
                        <!-- 标题 -->
                        <h1 class="entry-title">
                            <a href="{% url 'blog' post.pk %}">{{ post.title }}</a>
                        </h1>
                        <!-- 文章属性 -->
                        <div class="entry-meta">
                            <span class="post-category">
                                {{ post.category.name }}
                            </span>
                            <span class="post-date">
                                <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                            </span>
                            <span class="post-author">
                                {{ post.author }}
                            </span>
                            <span class="comments-link">
                                {{ post.comment_set.count }} 评论
                            </span>
                            <span class="views-count">
                                {{ post.views }} 阅读
                            </span>
                        </div>
                    </header>
                    <!-- 文章简述 -->
                    <div class="entry-content clearfix">
                        <p>{{ post.excerpt }}...</p>
                        <div class="read-more cl-effect-14">
                            <a href="{% url 'blog' post.pk %}" class="more-link">继续阅读
                                <span class="meta-nav">→</span>
                            </a>
                        </div>
                    </div>
                </article>
                {% empty %}
                <div class="no-post">暂时还没有发布的文章！</div>
                {% endfor %}
            </main>
            {% endblock main %}

            <!--右边侧栏-->
            {% block right %}
            <aside class="col-md-3">
                <!--文章目录-->
                {% block toc %} {% endblock toc %}
                <!--最新文章-->
                <div class="widget">
                    <h3 class="widget-title">最新文章</h3>
                    {% get_recent_posts as recent_post_list %}
                    <ul>
                        {% for post in recent_post_list %}
                        <li>
                            <a href="{% url 'blog' post.pk %}">{{ post.title }}</a>
                        </li>
                        {% empty %} 暂无文章！ {% endfor %}
                    </ul>
                </div>
                <!--归档-->
                <div class="widget">
                    <h3 class="widget-title">归档</h3>
                    {% archives as date_list %}
                    <ul>
                        {% for date in date_list %}
                        <li>
                            <a href="{% url 'archives' date.year date.month %}">
                                {{ date.year }}年{{ date.month }}月
                            </a>
                        </li>
                        {% empty %} 暂无归档！ {% endfor %}
                    </ul>
                </div>
                <!--分类-->
                <div class="widget">
                    <h3 class="widget-title">分类</h3>
                    {% get_categories as category_list %}
                    <ul>
                        {% for category in category_list %}
                        <li>
                            <a href="{% url 'category' category.pk %}">{{ category.name }}
                                <span class="post-count">({{ category.num_posts }})</span>
                            </a>
                        </li>
                        {% empty %} 暂无分类！ {% endfor %}
                    </ul>
                </div>
                <!--标签-->
                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    {% get_tags as tag_list %}
                    <ul>
                        {% for tag in tag_list %}
                        <li>
                            <a href="{% url 'tag' tag.pk %}">{{ tag.name }}</a>
                        </li>
                        {% empty %} 暂无标签！ {% endfor %}
                    </ul>
                </div>

            </aside>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}